{
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    },
    "development": {
      "presets": ["@babel/preset-env"]
    },
    "production": {
      "presets": ["@babel/preset-env"]
    }
  }
}
