.note-editor {
  border: 1px solid #a9a9a9;
}
.note-editor .note-toolbar {
  background-color: #f5f5f5;
  margin: 0px;
  padding: 5px;
  border-bottom: 1px solid #a9a9a9;
}
.note-editor .note-toolbar .note-style h1,
.note-editor .note-toolbar .note-style h2,
.note-editor .note-toolbar .note-style h3,
.note-editor .note-toolbar .note-style h4,
.note-editor .note-toolbar .note-style blockquote {
  margin: 0px;
}
.note-editor .note-toolbar .note-color .dropdown-toggle {
  width: 20px;
  padding: 2px 5px;
}
.note-editor .note-toolbar .note-color .dropdown-menu {
  padding: 5px;
}
.note-editor .note-toolbar .note-color .dropdown-menu .note-palette-title {
  font-size: 12px;
}
.note-editor .note-toolbar .note-para .dropdown-menu {
  min-width: 140px;
  padding: 5px;
}
.note-editor .note-toolbar .note-para li:first-child {
  margin-bottom: 5px;
}
.note-editor .note-popover .popover {
  max-width: none;
}
.note-editor .note-popover .popover .popover-content {
  padding: 5px;
}
.note-editor .note-popover .popover .popover-content a {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* for FF */
  vertical-align: middle;
  /* for FF */

}
.note-editor .note-popover .popover.bottom .arrow {
  left: 20px;
}
.note-editor .btn-small {
  font-size: 14px;
}
.note-editor .note-color-palette {
  line-height: 1;
}
.note-editor .note-color-palette div .note-color-btn {
  width: 17px;
  height: 17px;
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
}
.note-editor .note-color-palette div .note-color-btn:hover {
  border: 1px solid #000;
}
.note-editor .note-editable {
  outline: none;
  height: 300px;
  overflow: scroll;
  padding: 10px;
}
