.note-editor {
  border: 1px solid #a9a9a9;
  
  .note-toolbar {
    background-color: #f5f5f5;
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid #a9a9a9;
    
    .note-style {
      h1, h2, h3, h4, blockquote {
        margin: 0px;
      }
    }

    .note-color {
      .dropdown-toggle {
        width: 20px;
        padding: 2px 5px;
      }
      .dropdown-menu {
        padding: 5px;
        .note-palette-title {
          font-size: 12px;
        }
      }
    }
    
    .note-para {
      .dropdown-menu {
        min-width: 140px;
        padding: 5px;
      }
      
      li:first-child {
        margin-bottom: 5px;
      }
    }
  }
  
  .note-popover .popover {
    max-width: none;
    .popover-content {
      padding: 5px;
      
      .note-link-edit {
        margin: 0;
        display: none;
        input {
          width: 200px;
        }
      }
      
      .note-link-show {
        a {
          display: inline-block;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; /* for FF */ 
          vertical-align: middle; /* for FF */
        }
      }
    }
    &.bottom .arrow {
      left: 20px;
    }
  }
  
  // note's .btn-small at toolbar and popover
  .btn-small {
    font-size: 14px;
  }
  
  // note-color-palette at toolbar and popover
  .note-color-palette {
    line-height: 1;
    div {
      .note-color-btn {
        width: 17px;
        height: 17px;
        border: 1px solid #fff;
        margin: 0;
        padding: 0;
      }
      .note-color-btn:hover {
        border: 1px solid #000;
      }
    }
  }
  
  .note-editable {
    outline: none;
    height: 300px;
    overflow: scroll;
    padding: 10px;
  }
}
