@import 'summernote-icons.css';
@import "elements.scss";
@import 'summernote-common.scss';

.note-toolbar .note-btn {
  background: #fff;
  border-color: #dae0e5;
  padding: 0.28rem 0.65rem;
  font-size: 13px;
}
