<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Summernote Examples</title>
    <style>
    body {
      font-family: sans-serif;
    }
    .container {
      max-width: 960px;
      margin: 0 auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th {
      border: 1px solid black;
      background: #666;
      color: white;
      padding: 10px;
    }

    td {
      border: 1px solid black;
      padding: 5px;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Summernote Examples</h1>
      <table>
        <tr>
          <th>Filename</th>
          <th>Description</th>
        </tr>
        <% _.forEach(htmlWebpackPlugin.options.examples, function(example) { %>
        <tr>
          <td>
            <a href="<%- example.filepath %>">
              <%- example.name %>
            </a>
          </td>
          <td>
            <%- example.title %>
          </td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
