.note-toolbar {
  padding: 10px 5px;
  border-bottom: 1px solid #e2e2e2;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
